# Project specific
thesis.pdf
app/cordova

# LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk

# Mac
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# NPM
app/node_modules

# Java
*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Sublime Text
*.cache
Package Control.sublime-settings
*.sublime-workspace
sftp-config*.json
Package Control.last-run
Package Control.system-ca-bundle
SublimeREPLHistory/__defaults__
SublimeREPLHistory/__del_rows__
SublimeREPLHistory/__id__
SublimeREPLHistory/__info__
SublimeREPLHistory/__pos__
SublimeREPLHistory/__version__
SublimeREPLHistory/_id_pos
SublimeREPLHistory/changelog
SublimeREPLHistory/command
SublimeREPLHistory/external_id
SublimeREPLHistory/ts