# Cordova
/platforms
/plugins

# Sass
.sass-cache

# NPM


# Bower
/bower_components

# Java
*.class

# Custom
/dist
/.tmp
src/styles/*.css
src/scripts/templates.js
/node_modules/*
!/node_modules/cordova
/node_modules/cordova/*
!/node_modules/cordova/src
/node_modules/cordova/src/*
!/node_modules/cordova/src/util.js