# Cordova
/platforms
/plugins

# Sass
.sass-cache

# NPM


# Bower
/bower_components

# Java
*.class

# Custom
/dist
/.tmp
src/styles/*.css
src/scripts/templates.js
/node_modules/*

!/node_modules/ripple-emulator
/node_modules/ripple-emulator/*
!/node_modules/ripple-emulator/lib
/node_modules/ripple-emulator/lib/*
!/node_modules/ripple-emulator/lib/server
/node_modules/ripple-emulator/lib/server/*
!/node_modules/ripple-emulator/lib/server/emulate.js
!/node_modules/ripple-emulator/lib/server/emulate
/node_modules/ripple-emulator/lib/server/emulate/*
!/node_modules/ripple-emulator/lib/server/emulate/hosted.js
!/node_modules/ripple-emulator/doc
/node_modules/ripple-emulator/doc/*
!/node_modules/ripple-emulator/doc/cli
/node_modules/ripple-emulator/doc/cli/*
!/node_modules/ripple-emulator/doc/cli/emulate.md