<?xml version='1.0' encoding='utf-8'?>
<widget id="com.luminotrace.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LuminoTrace</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="marko.raatikka@aalto.fi" href="http://media.tkk.fi/webservices">Marko Raatikka</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
	<preference name="UIWebViewBounce" value="false" />
	<preference name="DisallowOverscroll" value="true" />
</widget>
